<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.thes.o2_test">
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- Permission for bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <receiver android:name=".receiver.AndroidBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_PACKAGE_RELPLACED"/>
                <action android:name="android.intent.action.ACTION_PACKAGE_ADDED"/>
            </intent-filter>
        </receiver>
        <service android:name=".service.BLEService"
            android:enabled="true"
            android:exported="true"
            android:description="@string/service_name"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin -->
        <activity android:name=".activity.admin.AdminMenuActivity"
            android:label="@string/admin"/>

        <!-- User -->
        <activity
            android:name=".activity.user.UserStatusActivity"
            android:label="@string/user"/>
        <activity
            android:name=".activity.user.SetUserInformationActivity"
            android:label="@string/register_user"/>
        <activity android:name=".activity.user.ConnectDeviceActivity"
            android:label="@string/user"/>

        <!-- Shared -->
        <activity android:name=".activity.SelectUserTypeActivity" />
    </application>

</manifest>